body {
    background-color: #333;
    font-family: 'Source Code Pro', monospace;
    overflow: hidden;
}

header {
    background-color: #222;
    height: 120px;
    text-align: center;
}

.logo {
    display: inline-block;
    margin-top: 12px;
}

.logo img {
    height: 6em;
    box-shadow: 3px 2px 1px purple, -3px -2px 1px greenyellow;
    margin-right: 0.6em;
}

h1 {
    text-align: center;
    color: #777;
    font-size: 3.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0.5px 0.5px 1px purple, -0.5px -0.5px 1px greenyellow;
    display: inline-block;
    vertical-align: top;
    margin-top: 25px;
}

main {
    width: 80%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

section {
    padding: 1.5em;
    text-align: center;
}

.input-area {
    flex: 1.8;
}

#input {
    resize: none;
    width: 95%;
    background-color: #444;
    border: 1px #111 solid;
    border-radius: 30px;
    color: aliceblue;
    padding: 2em;
    font-size: 2em;
    box-sizing: border-box;
    margin: 0 auto;
}

#input:focus {
    outline: #666 solid 1px;
}

.botao {
    margin: 2em 0 0 0;
    border: #444 solid 1px;
    border-radius: 5px;
    padding: 1em 15%;
    background-color: #999;
    font-family: 'Source Code Pro', monospace;
    font-weight: bold;
}

.botao:hover {
    scale: 1.1;
    transition: 0.2s;
}

.botao:active {
    scale: 1;
    transition: 0.1s;
}

.codificar {
    margin-right: 10px;
}

.output-area {
    flex: 1;
    position: relative;
    background-color: #444;
    border: 1px #111 solid;
    border-radius: 30px;
    color: aliceblue;
    padding: 2em;
    box-sizing: border-box;
    margin: 1.5em auto 0 0;
}


.output-area img {
    margin-bottom: 1em;
    max-height: 250px;
}

.output-area p {
    line-height: 1.5;
    font-size: 1.1em;
    color: aliceblue;
}

.output-text {
    color: aliceblue;
    font-size: 2em;
    padding-top: 2em;
}

#copiar {
    margin-top: 2.5em;
    width: 50%;
    position: absolute;
    right: 25%;
    bottom: 2em;
}

#copiar:active {
    background-color: lightgreen;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer p {
    text-align: center;
    color: #888;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    font-size: 0.7em;
}

@media screen and (max-height: 600px) {
    .output-area img {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .output-area img {
        display: none;
    }
}
